@model IEnumerable<ADSBackend.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayPoints)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
