@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-8 card">
        <div class="ibox">
            <div class="ibox-title">
                <h2>@Model.User.FullName's Dashboard</h2>
            </div>
            <div class="ibox-content">
                <h3>@Model.HomeSchool.Name</h3>
                <table>
                    <tr>
                        <td>Advisor:&nbsp;&nbsp;&nbsp;</td><td>@Model.HomeSchool.AdvisorName (@Model.HomeSchool.AdvisorEmail)</td>
                    </tr>
                    <tr>
                        <td>Phone:</td><td>@Model.HomeSchool.AdvisorPhoneNumber</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4 card">
        <div class=" widget navy-bg p-lg text-center" style="margin-top: 0px">
            <div class="m-b-md">
                <i class="fa fa-trophy fa-4x"></i>
                <h1 class="m-xs">@Model.HomeSchool.Points @(Model.HomeSchool.Points == 1 ? "Point" : "Points")</h1>
                <h3 class="font-bold no-margins">
                    @Model.HomeSchool.Abbreviation Record: @Model.HomeSchool.Wins-@Model.HomeSchool.Losses-@Model.HomeSchool.Ties
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Standings</h5>
            </div>
            <div class="ibox-content">
                <table>


                    @foreach (var division in Model.Divisions)
                    {
                        {
                            <tr>
                                <td colspan="3" style="padding-top: 10px; border-bottom: solid 1px #808080">@division.Name</td>
                            </tr>
                            <tr>
                                <td style="width: 10px"></td>
                                <td>&nbsp;</td>
                                <td style="font-family: monospace">W-L-T</td>
                            </tr>

                        }

                        foreach (var school in division.Schools)
                        {

                            <tr>
                                <td style="width: 10px"></td>
                                <td>@school.ShortName&nbsp;&nbsp;</td>
                                <td style="font-family: monospace">@school.Wins-@school.Losses-@school.Ties&nbsp;&nbsp;@school.Points</td>

                            </tr>

                        }
                    }

                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Top School Players</h5>
            </div>
            <div class="ibox-content">
               
            <table class="table table-striped">
                <thead>
                    <th>Name</th><th>Rating</th>
                </thead>
                @foreach (var player in Model.TopSchoolPlayers)
                {
                    <tr>
                        <td>@player.FirstName  @player.LastName</td><td>@player.Rating</td>
                    </tr>
                }
            </table>

            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Upcoming Matches</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    @foreach (var item in Model.Upcoming)
                    {
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>@Html.DisplayFor(modelItem => item.MatchDate)</strong><br />
                                @if (item.HomeSchool.SchoolId == Model.HomeSchool.SchoolId)
                                {
                                    <span>
                                        <strong>@Html.DisplayFor(modelItem => item.HomeSchool.ShortName)</strong>
                                        (Home)
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @Html.DisplayFor(modelItem => item.HomeSchool.ShortName)
                                    </span>
                                }
                                &nbsp;vs&nbsp;
                                @if (item.AwaySchool.SchoolId == Model.HomeSchool.SchoolId)
                                {
                                    <span>
                                        <strong>@Html.DisplayFor(modelItem => item.AwaySchool.ShortName)</strong>
                                        (Away)
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        @Html.DisplayFor(modelItem => item.AwaySchool.ShortName)
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>My Account</h5>
            </div>
            <div class="ibox-content">
                <p>Update your account information</p>
                <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                    <span class="fa fa-user-circle-o"></span> Manage Account
                </a>
            </div>
        </div>
    </div>
</div>


