@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-8 card">
        <div class="ibox">
            <div class="ibox-title">
                <h2>@Model.User.FullName's Dashboard</h2>
            </div>
            <div class="ibox-content">
                <h3>@Model.HomeSchool?.Name</h3>
                <table>
                    <tr>
                        <td>Advisor:&nbsp;&nbsp;&nbsp;</td><td>@Model.HomeSchool?.AdvisorName (@Model.HomeSchool?.AdvisorEmail)</td>
                    </tr>
                    <tr>
                        <td>Phone:</td><td>@Model.HomeSchool?.AdvisorPhoneNumber</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4 card">
        <div class=" widget navy-bg p-lg text-center" style="margin-top: 0px">
            <div class="m-b-md">
                <i class="fa fa-trophy fa-4x"></i>
                <h1 class="m-xs">@Model.HomeSchool.Points @(Model.HomeSchool.Points == 1 ? "Point" : "Points")</h1>
                <h3 class="font-bold no-margins">
                    @Model.HomeSchool.Abbreviation Record: @Model.HomeSchool.Wins-@Model.HomeSchool.Losses-@Model.HomeSchool.Ties
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-lg-4">
        @await Html.PartialAsync("~/Views/Shared/Dashboard/_StandingsPanelPartial.cshtml", Model.Divisions)
    </div>

    <div class="col-lg-4">
        @await Html.PartialAsync("~/Views/Shared/Dashboard/_TopPlayersPanelPartial.cshtml", Model.TopSchoolPlayers)
    </div>

    <div class="col-lg-4">
        @await Html.PartialAsync("~/Views/Shared/Dashboard/_UpcomingMatchesPanelPartial.cshtml", Model.Upcoming)
    </div>

</div>


<div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>My Account</h5>
            </div>
            <div class="ibox-content">
                <p>Update your account information</p>
                <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                    <span class="fa fa-user-circle-o"></span> Manage Account
                </a>
            </div>
        </div>
    </div>
</div>


