@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
    var isGuest = User.IsInRole("Guest");
    var k = 3;
}

@if (User.IsInRole("Guest"))
{
    <div class="row">
        
        <div class="jumbotron">

            <h1 class="display-4">Welcome!</h1>
            <p class="lead">This is the EPC Conference Chess site.  All players that wish to compete will need to join up with a team by using a join code that was provided by your coach.  Please enter the code below.</p>
            <hr class="my-4">
            
            @if (Model.JoinCodeError)
            {
                <div class="alert alert-danger">
                    The join code you have entered was invalid so we are unable to join you up with a school. Please double check the code and try again.
                </div>
            }
            <form asp-action="Index" method="post">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="joinCode">Join Code:</label>
                        <input type="text" class="form-control" placeholder="Ex. KENV83BY" id="joinCode" name="joinCode">
                    </div>
                    <button type="submit" class="btn btn-primary">Join School</button>
                </div>
            </form>
            
        </div>

    </div>
}
else
{ 
    <div class="row">
        <div class="col-md-8 card">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>@Model.User.FullName's Dashboard</h2>
                </div>
                <div class="ibox-content">
                    <h3>@Model.HomeSchool?.Name</h3>
                    <table>
                        <tr>
                            <td>Advisor:&nbsp;&nbsp;&nbsp;</td>
                            <td>@Model.HomeSchool?.AdvisorName (@Model.HomeSchool?.AdvisorEmail)</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>@Model.HomeSchool?.AdvisorPhoneNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 card">
            <div class=" widget navy-bg p-lg text-center" style="margin-top: 0px">
                <div class="m-b-md">
                    <i class="fa fa-trophy fa-4x"></i>
                    <h1 class="m-xs">@Model.HomeSchool.Points @(Model.HomeSchool.Points == 1 ? "Point" : "Points")</h1>
                    <h3 class="font-bold no-margins">
                        @Model.HomeSchool.Abbreviation Record: @Model.HomeSchool.Wins-@Model.HomeSchool.Losses-@Model.HomeSchool.Ties
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            @await Html.PartialAsync("~/Views/Shared/Dashboard/_StandingsPanelPartial.cshtml", Model.Divisions)
        </div>

        <div class="col-lg-4">
            @await Html.PartialAsync("~/Views/Shared/Dashboard/_TopPlayersPanelPartial.cshtml", Model.TopSchoolPlayers)
        </div>

        <div class="col-lg-4">
            @await Html.PartialAsync("~/Views/Shared/Dashboard/_UpcomingMatchesPanelPartial.cshtml", Model.Upcoming)
        </div>

    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>Update your account information</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
    </div>

}
