@model IEnumerable<ADSBackend.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>Players</strong>
    </li>
</ol>

<h2>@ViewBag.School.Name Players</h2>

<p>
    <button type="button" id="createNew" class="btn btn-w-m btn-primary">Create New</button>
</p>
<div class="ibox">
    <div class="ibox-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td style="vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td style="vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td style="vertical-align: middle">
                            @await Html.PartialAsync("_CrudOptions", item.PlayerId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">

        $("#createNew").click(createNewStudent);

        function createNewStudent() {
            swal({
                    title: "Are you sure you want to create a player?",
                    text: "Players created manually cannot participate in virtual matches or log in. It is preferred to allow them to login via Lichess and add themselves to your school with a join code.",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((choice) => {
                    if (choice) {
                        window.location.href = '/Players/Create';
                    }
                });
        }

    </script>
}